In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd
# !pip install pandasql
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [7]:
match_schedule_html = open('2022_t10_schedule_html.txt', 'r')
soup = BeautifulSoup(match_schedule_html, 'lxml')
match_schedule_html.close()

In [8]:
table = soup.select('table.schedtbl')[0]
table_df = pd.DataFrame()
table_df = pd.read_html(str(table))[0]
# table_df.drop(0, axis=0, inplace=True) # only drop first row if it contains default data
table_df.to_csv('2022_t10_schedule.csv', index=False)
table_df

,M,Date,Match,Venue No.,Location
0,1.0,Sat 04 Jun 2022,Brampton Rangers VS. Guycan Tridents Scorecard,1,Chinguacousy Secondary School 1370 Williams Pa...
1,2.0,Sat 04 Jun 2022,Wildfiya VS. Phoenix 11 Scorecard,14,"Marvin Heights Public school, 7455 Redstone Rd..."
2,3.0,Sat 18 Jun 2022,Tricounty VS. Masters Scorecard,10,"Brookview Middle School, 4505 Jane St. North York"
3,4.0,Sat 18 Jun 2022,Fuzion SC VS. Cool Runningz Scorecard,14,"Marvin Heights Public school, 7455 Redstone Rd..."
4,5.0,Sat 18 Jun 2022,Pegasus VS. Panthers Scorecard,45,A Field - Hanover Public School 215 Hanover Ro...
5,6.0,Sat 18 Jun 2022,Spartans VS. Brampton Rangers Scorecard,21,"Elia Middle School 215 Sentinel Rd, Toronto, ON."
6,7.0,Sat 18 Jun 2022,Brampton Gladiators VS. 11 Man Army Scorecard,24,B Field Hanover Public School 215 Hanover Road...
7,8.0,Sat 18 Jun 2022,Enterprise VS. Smashers Scorecard,25,"Anaka Park. 7666 Anaka Drive, Mississauga, ON ..."
8,9.0,Sat 18 Jun 2022,Aces Cricket Club VS. Industry CC Scorecard,26,"Dumbarton High School, 655 Sheppard Ave. Picke..."
9,10.0,Sat 18 Jun 2022,Paris Sunshine VS. Wildfiya Scorecard,43,"Robert J Lee Public School, 160 Mountainash Road"
10,11.0,Sat 25 Jun 2022,Pegasus VS. Smashers Scorecard,45,A Field - Hanover Public School 215 Hanover Ro...
11,12.0,Sat 25 Jun 2022,Spartans VS. Aces Cricket Club Scorecard,21,"Elia Middle School 215 Sentinel Rd, Toronto, ON."
12,13.0,Sat 25 Jun 2022,Masters VS. Brampton Gladiators Scorecard,14,"Marvin Heights Public school, 7455 Redstone Rd..."
13,14.0,Sat 25 Jun 2022,Paris Sunshine VS. Fuzion SC Scorecard,44,"Robert J Lee Public School, 160 Mountainash Ro..."
14,15.0,Sun 26 Jun 2022,Pegasus VS. Brampton Gladiators Scorecard,45,A Field - Hanover Public School 215 Hanover Ro...
15,16.0,Sun 26 Jun 2022,Spartans VS. Pegasus Scorecard,24,B Field Hanover Public School 215 Hanover Road...
16,17.0,Sun 26 Jun 2022,Paris Sunshine VS. Brampton Gladiators Scorecard,45,A Field - Hanover Public School 215 Hanover Ro...

In [9]:
# SQL Query to Extract all Venues
q = """SELECT DISTINCT Location 
       FROM table_df;"""
venues = pysqldf(q)
venues

                                            Location
0  Chinguacousy Secondary School 1370 Williams Pa...
1  Marvin Heights Public school, 7455 Redstone Rd...
2  Brookview Middle School, 4505 Jane St. North York
3  A Field - Hanover Public School 215 Hanover Ro...
4   Elia Middle School 215 Sentinel Rd, Toronto, ON.
5  B Field Hanover Public School 215 Hanover Road...
6  Anaka Park. 7666 Anaka Drive, Mississauga, ON ...
7  Dumbarton High School, 655 Sheppard Ave. Picke...
8   Robert J Lee Public School, 160 Mountainash Road
9  Robert J Lee Public School, 160 Mountainash Ro...