In [25]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd
# !pip uninstall pandasql

In [2]:
match_schedule_html = open('match_schedule_html.txt', 'r')
soup = BeautifulSoup(match_schedule_html, 'lxml')
match_schedule_html.close()

In [30]:
table = soup.select('table.schedtbl')[0]
table_df = pd.DataFrame()
table_df = pd.read_html(str(table))[0]
table_df.drop(0, axis=0, inplace=True)
table_df.to_csv('match_schedule_2022.csv', index=False)
table_df

,M,Date,Match,Venue No.,Location
1,2.0,Sun 29 May 2022,Panthers VS. Tricounty Scorecard,11,"Sir John A Macdonald Public School, 250 Centre..."
2,3.0,Sun 29 May 2022,Smashers VS. Wildfiya Scorecard,10,"Brookview Middle School, 4505 Jane St. North York"
3,4.0,Sun 29 May 2022,Fuzion SC VS. Pegasus Scorecard,14,"Marvin Heights Public school, 7455 Redstone Rd..."
4,5.0,Sun 29 May 2022,11 Man Army VS. Brampton Rangers Scorecard,22,"Dorset Public School. 100 Dorset Drive, Brampt..."
5,6.0,Sun 29 May 2022,Enterprise VS. Brampton Gladiators Scorecard,25,"Anaka Park. 7666 Anaka Drive, Mississauga, ON ..."
...,...,...,...,...,...
77,78.0,Sun 14 Aug 2022,Enterprise VS. Aces Cricket Club Scorecard,25,"Anaka Park. 7666 Anaka Drive, Mississauga, ON ..."
78,79.0,Sun 14 Aug 2022,Wildfiya VS. Brampton Rangers Scorecard,14,"Marvin Heights Public school, 7455 Redstone Rd..."
79,80.0,Sun 14 Aug 2022,Cool Runningz VS. Tricounty Scorecard,45,A Field - Hanover Public School 215 Hanover Ro...
80,81.0,Sun 14 Aug 2022,Industry CC VS. 11 Man Army Scorecard,1,Chinguacousy Secondary School 1370 Williams Pa...
81,82.0,Sun 14 Aug 2022,Paris Sunshine VS. Pegasus Scorecard,43,"Robert J Lee Public School, 160 Mountainash Road"