Imports added for web scraping

In [171]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

Web page containing Scorecard links read

In [172]:
match_schedule_html = open('2022_playoff_schedule_html.txt', 'r')
soup = BeautifulSoup(match_schedule_html, 'lxml')
match_schedule_html.close()

Scorecard links extracted

In [248]:
links = soup.select('a')
scorecards = [scorecard['href'] for scorecard in links]
scorecards_links = []
for link in scorecards:
  if ('Scorecard.aspx' in link):
    scorecards_links.append(link)
# scorecards_links.pop(0) # remove first one on list only if it contains default data
scorecards_links[13]

'Scorecard.aspx?MatchID=1898'

Home Team Score

In [243]:
url = 'https://orsca.ca/Pages/Scorecard.aspx?MatchID=1898'
reqs = requests.get(url, verify=False) # setting verify to False by passes the SSL Certificate check
scorecard_soup = BeautifulSoup(reqs.text, 'lxml')

home_table = scorecard_soup.find('table', {'id':'Home'})
home_df = pd.DataFrame(columns=['Home Inning', 'Runs', 'How Out', 'O', 'R', 'W', 'H'])
home_table_row = ''

for row in home_table.find_all('tr'):
  home_table_row = row
  home_scorecard_row_soup = BeautifulSoup(str(home_table_row), 'lxml')
  home_scorecard_td = home_scorecard_row_soup.find('td')

  # extract values to insert into new row of home team score dataframe
  home_inning = home_scorecard_td.find_all('div')[1].text
  home_runs = home_scorecard_td.find_all('div')[2].text
  home_how_out = home_scorecard_td.find_all('div')[3].text
  home_o = home_scorecard_td.find_all('div')[4].text
  home_r = home_scorecard_td.find_all('div')[5].text
  home_w = home_scorecard_td.find_all('div')[6].text
  home_h = home_scorecard_td.find_all('div')[7].text

  home_list_row = [home_inning, home_runs, home_how_out, home_o, home_r, home_w, home_h]
  home_df.loc[len(home_df)] = home_list_row

home_df.drop(0, axis=0, inplace=True)
# home_df = home_df.style.hide_index()
home_df

c:\Users\knari\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'orsca.ca'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Home Inning,Runs,How Out,O,R,W,H
1,Abdul Samad (Bird),12,Caught,1,9,0,0
2,Ameer Khan (n),0,Caught,1,10,0,0
3,Amzad Haniff,0,Bowled,0,0,0,0
4,Anil Ramoutar,47,Caught,1,6,0,0
5,Azib Haniff,12,Bowled,0,0,0,0
6,Doodnauth Sitaram,1,Run Out,2,25,0,0
7,Kumar Doodnauth,26,Caught,0,0,0,0
8,Loakram (Naresh) Singh,7,Run Out,1.4,36,0,0
9,Mark Nazir (C),0,Caught,4,20,0,0
10,Raja Amit Pooran,6,Caught,1,14,0,0
11,Salman Khan,1,Not Out,1,6,0,0
12,\nExtras\n19\n,Extras,19,\nTotal\n131\nfor 10 Wkts\n12.4\n126\n0\n\n,Total,131,for 10 Wkts

Away Team Score

In [244]:
visitor_table = scorecard_soup.find('table', {'id':'Visitor'})
visitor_df = pd.DataFrame(columns=['Visitor Inning', 'Runs', 'How Out', 'O', 'R', 'W', 'H'])
visitor_table_row = ''

for row in visitor_table.find_all('tr'):
  visitor_table_row = row
  visitor_scorecard_row_soup = BeautifulSoup(str(visitor_table_row), 'lxml')
  visitor_scorecard_td = visitor_scorecard_row_soup.find('td')

  # extract values to insert into new row of visitor team score dataframe
  visitor_inning = visitor_scorecard_td.find_all('div')[1].text
  visitor_runs = visitor_scorecard_td.find_all('div')[2].text
  visitor_how_out = visitor_scorecard_td.find_all('div')[3].text
  visitor_o = visitor_scorecard_td.find_all('div')[4].text
  visitor_r = visitor_scorecard_td.find_all('div')[5].text
  visitor_w = visitor_scorecard_td.find_all('div')[6].text
  visitor_h = visitor_scorecard_td.find_all('div')[7].text

  visitor_list_row = [visitor_inning, visitor_runs, visitor_how_out, visitor_o, visitor_r, visitor_w, visitor_h]
  visitor_df.loc[len(visitor_df)] = visitor_list_row

visitor_df.drop(0, axis=0, inplace=True)
# visitor_df = visitor_df.style.hide_index()
visitor_df

,Visitor Inning,Runs,How Out,O,R,W,H
1,Anil Etwaroo,0,Did not Bat,0,0,0,0
2,Anil Mahadeo (C),0,Did not Bat,0,0,0,0
3,Chris Vernon,0,Did not Bat,0,0,0,0
4,Hemnarine Chattergoon,0,Did not Bat,0,0,0,0
5,Imran Ali,64,Not Out,4,12,2,0
6,Jeetendra Beharry,0,Did not Bat,4,17,0,0
7,Khemraj Harinarain,0,Did not Bat,2,22,0,0
8,Rajendra Dhoray,0,Did not Bat,4,26,0,0
9,Rajesh Willie,0,Did not Bat,2,17,0,0
10,Ramiz Mohamed,52,Not Out,0,0,0,0
11,Riaz Kadir,0,Did not Bat,3.5,29,5,0
12,\nExtras\n19\n,Extras,19,\nTotal\n135\nfor 0 Wkts\n19.5\n123\n7\n\n,Total,135,for 0 Wkts

Match Overview

In [245]:
overview_table = scorecard_soup.find('table', {'id':'hd1'})
team1 = overview_table.find_all('div', {'class':'team'})[0].text
team2 = overview_table.find_all('div', {'class':'team'})[1].text
team1_points = overview_table.find_all('div', {'class':'team'})[2].text
team2_points = overview_table.find_all('div', {'class':'team'})[3].text
date = overview_table.find_all('div', {'class':'Comments'})[0].text
venue = overview_table.find_all('div', {'class':'Comments'})[1].text
comments = overview_table.find_all('div', {'class':'Comments'})[2].text

overview_df = pd.DataFrame({'Teams':[team1, 'vs.', team2], 
                            'Points':[team1_points, '', team2_points], 
                            'Date':[date, '', ''], 'Venue':[venue, '', ''], 
                            'Comments':[comments, '', '']}).transpose()
overview_df.columns = ['', '', '']
overview_df

,,,
Teams,Masters,vs.,Paris Sunshine
Points,0,,0
Date,Sat 17 Sep 2022,,
Venue,"Dixie 407 Sports Park, 7455 Dixie Rd, Brampton",,
Comments,Congrations to Paris Sunshine for winning the ...,,

Add the Dataframes to the Excel Workbook

In [246]:
with pd.ExcelWriter("2022_playoff_scorecards.xlsx", mode="a", engine="openpyxl", if_sheet_exists="replace") as writer:
  overview_df.to_excel(writer, sheet_name="Sep_17_Masters_ParisSun", startrow=0, startcol=0)
  home_df.to_excel(writer, sheet_name="Sep_17_Masters_ParisSun", startrow=7, startcol=0, index=False)
  visitor_df.to_excel(writer, sheet_name="Sep_17_Masters_ParisSun",startrow=23, startcol=0, index=False)