Imports

In [3]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

Web Scraping

In [31]:
page1_html = open('page1_html.txt', 'r')
soup1 = BeautifulSoup(page1_html, 'lxml')
page1_html.close()

page2_html = open('page2_html.txt', 'r')
soup2 = BeautifulSoup(page2_html, 'lxml')
page2_html.close()

page3_html = open('page3_html.txt', 'r')
soup3 = BeautifulSoup(page3_html, 'lxml')
page3_html.close()

ETL (Extract, Transform, Load) Process

In [46]:
table1 = soup1.select('table.scoreboard')
table2 = soup2.select('table.scoreboard')
table3 = soup3.select('table.scoreboard')
table_df = pd.DataFrame()

for match in table1:
  table_df = table_df.append(pd.read_html(str(match))[0].transpose())

for match in table2:
  table_df = table_df.append(pd.read_html(str(match))[0].transpose())

for match in table3:
  table_df = table_df.append(pd.read_html(str(match))[0].transpose())

table_df.columns = ['Match Date', 'Result', 'Team 1', 'Team 2']
table_df.to_csv('scoreboard_2022.csv', index=False)
table_df

,Match Date,Result,Team 1,Team 2
0,August 14 2022,Paris Sunshine won,Pegasus 106/10,Paris Sunshine 171/7
0,August 14 2022,Masters won,Spartans 174/6,Masters 178/3
0,August 14 2022,Brampton Gladiators won,Fuzion SC 151/8,Brampton Gladiators 156/7
0,August 14 2022,Enterprise won,Aces Cricket Club 164/7,Enterprise 167/3
0,August 14 2022,Wildfiya won,Brampton Rangers 100/8,Wildfiya 171/7
0,August 14 2022,Smashers won,Guycan Tridents 0/0,Smashers 0/0
0,August 14 2022,Cool Runningz won,Tricounty 106/8,Cool Runningz 110/4
0,August 14 2022,Industry CC won,11 Man Army 170/6,Industry CC 172/8
0,August 14 2022,Phoenix 11 won,Panthers 203/8,Phoenix 11 204/4
0,August 07 2022,Fuzion SC won,Aces Cricket Club 41/10,Fuzion SC 189/6
0,August 07 2022,Spartans won,Enterprise 189/7,Spartans 192/5
0,August 07 2022,Masters won,Paris Sunshine 213/9,Masters 230/5
0,August 07 2022,Brampton Gladiators won,Pegasus 225/7,Brampton Gladiators 229/7
0,August 07 2022,Smashers won,Brampton Rangers 144/6,Smashers 218/4