Imports added for web scraping

In [50]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

Web page containing Scorecard links read

In [51]:
match_schedule_html = open('match_schedule_html.txt', 'r')
soup = BeautifulSoup(match_schedule_html, 'lxml')
match_schedule_html.close()

Scorecard links extracted

In [53]:
links = soup.select('a')
scorecards = [scorecard['href'] for scorecard in links]
scorecards_links = []
for link in scorecards:
  if ('Scorecard.aspx' in link):
    scorecards_links.append(link)
scorecards_links.pop(0)
scorecards_links[1]

'Scorecard.aspx?MatchID=1828'

Home Team Score

In [54]:
url = 'https://orsca.ca/Pages/Scorecard.aspx?MatchID=1828'
reqs = requests.get(url, verify=False) # setting verify to False by passes the SSL Certificate check
scorecard_soup = BeautifulSoup(reqs.text, 'lxml')

home_table = scorecard_soup.find('table', {'id':'Home'})
home_df = pd.DataFrame(columns=['Home Inning', 'Runs', 'How Out', 'O', 'R', 'W', 'H'])
home_table_row = ''

for row in home_table.find_all('tr'):
  home_table_row = row
  home_scorecard_row_soup = BeautifulSoup(str(home_table_row), 'lxml')
  home_scorecard_td = home_scorecard_row_soup.find('td')

  # extract values to insert into new row of home team score dataframe
  home_inning = home_scorecard_td.find_all('div')[1].text
  home_runs = home_scorecard_td.find_all('div')[2].text
  home_how_out = home_scorecard_td.find_all('div')[3].text
  home_o = home_scorecard_td.find_all('div')[4].text
  home_r = home_scorecard_td.find_all('div')[5].text
  home_w = home_scorecard_td.find_all('div')[6].text
  home_h = home_scorecard_td.find_all('div')[7].text

  home_list_row = [home_inning, home_runs, home_how_out, home_o, home_r, home_w, home_h]
  home_df.loc[len(home_df)] = home_list_row

home_df.drop(0, axis=0, inplace=True)
# home_df = home_df.style.hide_index()
home_df

c:\Users\knari\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'orsca.ca'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Home Inning,Runs,How Out,O,R,W,H
1,Balchan Harripersaud,0,Run Out,4,20,2,0
2,Dinesh Ramkissoon,39,Bowled,1,5,0,0
3,Harinarine Persaud (VC),17,Bowled,3,40,1,0
4,Hendrick Harrilall,19,Caught,0,0,0,0
5,Kerwin Ganouri,7,Caught,0,0,0,0
6,Parmanand Singh,0,Did not Bat,4,18,1,0
7,Rajesh Singh,34,Caught,0,0,0,0
8,Rohan Madramottoo,0,Did not Bat,4,18,0,0
9,Shivnarine George,26,Not Out,4,30,1,0
10,Vinod Diadatt,0,Did not Bat,0,0,0,0
11,Yuvi Sandhu,0,Did not Bat,0,0,0,0
12,\nExtras\n13\n,Extras,13,\nTotal\n155\nfor 6 Wkts\n20\n131\n5\n\n,Total,155,for 6 Wkts

Away Team Score

In [55]:
visitor_table = scorecard_soup.find('table', {'id':'Visitor'})
visitor_df = pd.DataFrame(columns=['Visitor Inning', 'Runs', 'How Out', 'O', 'R', 'W', 'H'])
visitor_table_row = ''

for row in visitor_table.find_all('tr'):
  visitor_table_row = row
  visitor_scorecard_row_soup = BeautifulSoup(str(visitor_table_row), 'lxml')
  visitor_scorecard_td = visitor_scorecard_row_soup.find('td')

  # extract values to insert into new row of visitor team score dataframe
  visitor_inning = visitor_scorecard_td.find_all('div')[1].text
  visitor_runs = visitor_scorecard_td.find_all('div')[2].text
  visitor_how_out = visitor_scorecard_td.find_all('div')[3].text
  visitor_o = visitor_scorecard_td.find_all('div')[4].text
  visitor_r = visitor_scorecard_td.find_all('div')[5].text
  visitor_w = visitor_scorecard_td.find_all('div')[6].text
  visitor_h = visitor_scorecard_td.find_all('div')[7].text

  visitor_list_row = [visitor_inning, visitor_runs, visitor_how_out, visitor_o, visitor_r, visitor_w, visitor_h]
  visitor_df.loc[len(visitor_df)] = visitor_list_row

visitor_df.drop(0, axis=0, inplace=True)
# visitor_df = visitor_df.style.hide_index()
visitor_df

,Visitor Inning,Runs,How Out,O,R,W,H
1,Eoin Pollard,0,Did not Bat,0,0,0,0
2,Mahendra Nauth (Reds),6,Caught,4,29,0,0
3,Mark Moosaie,7,Caught,0,0,0,0
4,Neilon Williams,35,Not Out,4,20,1,0
5,Rajendra (Vicky) Nauth,0,Did not Bat,4,40,0,0
6,Ravi Bhim (JR),24,Bowled,1,12,0,0
7,Raymond Pollard,23,Bowled,0,0,0,0
8,Roy Lochan,1,Not Out,4,14,3,0
9,Shruti Singh (VC),0,Bowled,0,0,0,0
10,Vivian Pollard,17,Run Out,3,36,1,0
11,Yash Singh,0,Did not Bat,0,0,0,0
12,\nExtras\n18\n,Extras,18,\nTotal\n131\nfor 6 Wkts\n20\n151\n5\n\n,Total,131,for 6 Wkts

Match Overview

In [56]:
overview_table = scorecard_soup.find('table', {'id':'hd1'})
team1 = overview_table.find_all('div', {'class':'team'})[0].text
team2 = overview_table.find_all('div', {'class':'team'})[1].text
team1_points = overview_table.find_all('div', {'class':'team'})[2].text
team2_points = overview_table.find_all('div', {'class':'team'})[3].text
date = overview_table.find_all('div', {'class':'Comments'})[0].text
venue = overview_table.find_all('div', {'class':'Comments'})[1].text
comments = overview_table.find_all('div', {'class':'Comments'})[2].text

overview_df = pd.DataFrame({'Teams':[team1, 'vs.', team2], 
                            'Points':[team1_points, '', team2_points], 
                            'Date':[date, '', ''], 'Venue':[venue, '', ''], 
                            'Comments':[comments, '', '']}).transpose()
overview_df.columns = ['', '', '']
overview_df

Teams                                              Smashers  vs.  Wildfiya
Points                                                   10              0
Date                                        Sun 29 May 2022
Venue     Brookview Middle School, 4505 Jane St. North York
Comments

Add the Dataframes to the Excel Workbook

In [58]:
with pd.ExcelWriter("2022_regular_season_scorecards.xlsx", mode="a", engine="openpyxl", if_sheet_exists="replace") as writer:
  overview_df.to_excel(writer, sheet_name="May_29_Smashers_Wildfiya", startrow=0, startcol=0)
  home_df.to_excel(writer, sheet_name="May_29_Smashers_Wildfiya", startrow=7, startcol=0, index=False)
  visitor_df.to_excel(writer, sheet_name="May_29_Smashers_Wildfiya",startrow=23, startcol=0, index=False)