Imports added for web scraping

In [ ]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd

Web page containing Scorecard links read

In [ ]:
match_schedule_html = open('match_schedule_html.txt', 'r')
soup = BeautifulSoup(match_schedule_html, 'lxml')
match_schedule_html.close()

Scorecard links extracted

In [ ]:
links = soup.select('a')
scorecards = [scorecard['href'] for scorecard in links]
scorecards_links = []
for link in scorecards:
  if ('Scorecard.aspx' in link):
    scorecards_links.append(link)
scorecards_links.pop(0)
scorecards_links

Home Team Score

In [33]:
url = 'https://orsca.ca/Pages/Scorecard.aspx?MatchID=1830'
reqs = requests.get(url, verify=False) # setting verify to False by passes the SSL Certificate check
scorecard_soup = BeautifulSoup(reqs.text, 'lxml')

home_table = scorecard_soup.find('table', {'id':'Home'})
home_df = pd.DataFrame(columns=['Home Inning', 'Runs', 'How Out', 'O', 'R', 'W', 'H'])
home_table_row = ''

for row in home_table.find_all('tr'):
  home_table_row = row
  home_scorecard_row_soup = BeautifulSoup(str(home_table_row), 'lxml')
  home_scorecard_td = home_scorecard_row_soup.find('td')

  # extract values to insert into new row of home team score dataframe
  home_inning = home_scorecard_td.find_all('div')[1].text
  home_runs = home_scorecard_td.find_all('div')[2].text
  home_how_out = home_scorecard_td.find_all('div')[3].text
  home_o = home_scorecard_td.find_all('div')[4].text
  home_r = home_scorecard_td.find_all('div')[5].text
  home_w = home_scorecard_td.find_all('div')[6].text
  home_h = home_scorecard_td.find_all('div')[7].text

  home_list_row = [home_inning, home_runs, home_how_out, home_o, home_r, home_w, home_h]
  home_df.loc[len(home_df)] = home_list_row

home_df.drop(0, axis=0, inplace=True)
home_df

c:\Users\knari\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'orsca.ca'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Home Inning,Runs,How Out,O,R,W,H
1,Anand Persaud (VC),0,Did not Bat,4,32,4,0
2,Arvin Persaud (SR),23,Run Out,0,0,0,0
3,Dinesh Ajodha,0,Did not Bat,1,20,0,0
4,Hemraj Persaud (C),4,Run Out,2,24,0,0
5,Krishna Persaud,0,Not Out,1,17,0,0
6,Rajesh Seelall,39,Caught,1,10,0,0
7,Ravi Ramlall,0,Did not Bat,4,33,2,0
8,Rishi Sanchara,77,Not Out,2,10,1,0
9,Ryan Singh (N),0,Did not Bat,0,0,0,0
10,Sanjay Ramsaywack,41,Bowled,0,0,0,0
11,Surendra Rai Singh,0,Did not Bat,4,27,1,0
12,\nExtras\n31\n,Extras,31,\nTotal\n215\nfor 4 Wkts\n19\n173\n8\n\n,Total,215,for 4 Wkts

Away Team Score

In [34]:
visitor_table = scorecard_soup.find('table', {'id':'Visitor'})
visitor_df = pd.DataFrame(columns=['Visitor Inning', 'Runs', 'How Out', 'O', 'R', 'W', 'H'])
visitor_table_row = ''

for row in visitor_table.find_all('tr'):
  visitor_table_row = row
  visitor_scorecard_row_soup = BeautifulSoup(str(visitor_table_row), 'lxml')
  visitor_scorecard_td = visitor_scorecard_row_soup.find('td')

  # extract values to insert into new row of visitor team score dataframe
  visitor_inning = visitor_scorecard_td.find_all('div')[1].text
  visitor_runs = visitor_scorecard_td.find_all('div')[2].text
  visitor_how_out = visitor_scorecard_td.find_all('div')[3].text
  visitor_o = visitor_scorecard_td.find_all('div')[4].text
  visitor_r = visitor_scorecard_td.find_all('div')[5].text
  visitor_w = visitor_scorecard_td.find_all('div')[6].text
  visitor_h = visitor_scorecard_td.find_all('div')[7].text

  visitor_list_row = [visitor_inning, visitor_runs, visitor_how_out, visitor_o, visitor_r, visitor_w, visitor_h]
  visitor_df.loc[len(visitor_df)] = visitor_list_row

visitor_df.drop(0, axis=0, inplace=True)
visitor_df

,Visitor Inning,Runs,How Out,O,R,W,H
1,Afraz Mohamed,27,Caught,2,31,0,0
2,Ahmad Khan,10,Bowled,4,45,0,0
3,Aktar Ali,45,Caught,0,0,0,0
4,Alejandro Khan,0,Bowled,0,0,0,0
5,Imran Ali (SR) (VC),1,Not Out,4,44,1,0
6,Reyeed Ferose,3,Bowled,2,22,0,0
7,Riyad Ali,41,Bowled,0,0,0,0
8,Saeed Khan,9,Caught,4,37,1,0
9,Shazar Mohamed (Captain),14,Bowled,4,36,0,0
10,Shazim Ibrahim,0,Did not Bat,0,0,0,0
11,Zafrula Khan,0,Did not Bat,0,0,0,0
12,\nExtras\n23\n,Extras,23,\nTotal\n173\nfor 8 Wkts\n20\n215\n2\n\n,Total,173,for 8 Wkts

Match Overview

In [50]:
overview_table = scorecard_soup.find('table', {'id':'hd1'})
overview_df = pd.DataFrame(columns=['Teams', 'Points', 'Date', 'Venue', 'Comments']).transpose()
team1 = overview_table.find_all('div', {'class':'team'})[0].text
team2 = overview_table.find_all('div', {'class':'team'})[1].text
team2
# overview_df['Teams'] = [team1, 'vs.',  team2]
# overview_df

'Tricounty'